@font-face
   font-family Icons
   font-style normal
   src url('/fonts/icomoon.eot')
   src url('/fonts/icomoon.svg')
   src url('/fonts/icomoon.ttf')
   src url('/fonts/icomoon.woff')

headerWidth = 235px

gridPadding = 23px
gridWidth = 395px
gridPadWidth = gridWidth + gridPadding * 2
gridHeight = 227px
gridPadHeight = gridHeight + gridPadding * 2

darkBlue = #233b4b
lightBlue = #7da2b3 //#5f7a87
lightGreen = #cbff48

desktop = "screen and (min-width: 1281px)"
tablet = "screen and (min-width: 883px) and (max-width: 1280px)"
phone = "screen and (max-width: 882px)"