extends templates/_page

block variables
    - var pageTitle = "Bogdan Balan | Web Developer"

block content

    #intro
        p I'm a full-stack web developer with a focus on the front end.
        p I love writing beautiful code, tinkering with cool tech, and building anything awesome.

    h2 Work

    include templates/_grid